if exists(select 1 from sysobjects where name = '${1:xxx}_test' and type = 'P')
	drop procedure ${1:xxx}_test
go
create procedure ${1:xxx}_test
as
begin
	declare @${2:param1} ${3:varchar(20)}

	select @${2:param1} = $4
	begin tran
	exec ${1:xxx} $0
	rollback

end
go
-- exec ${1:xxx}_test
-- go
