# ${1:资产管理计划查询}接口

<!-- toc -->

## ${1:资产管理计划查询}
处理码： ${2:zcglvl}

过程名： ${3:zc_gl_getvarilist}

### 测试报文
${4:brchno=9901|userid=M1111|prcscd=${2:zcglvl}}

### 请求报文
| 字段名 | 字段名称 | 长度    	| 非空 | 固定值 | 备注 |
| ------ | -------- | ------- 	| ---- | ------ | ---- |
| userid | 柜员号 | varchar(8) 	| 是 |
| brchno | 机构号 | varchar(7) 	| 是 |
| prcscd | 处理码 | char(6) 	| 是 |${2:zcglvl}
| servtp | 渠道码 | char(3) 	| 是 |CNT/NET/MBS/DBS/MKT...

### 返回报文
| 字段名 | 字段名称 | 长度    	| 非空 | 固定值 | 备注 |
| ------ | -------- | ------- 	| ---- | ------ | ---- |
| pckgsq | 报文流水 | varchar(12) | 否 |
| erortx | 出错信息 | varchar(7) | 否 |
